{{ define "main" }}

<div id="layout">
<article>

{{ partial "content.header.html" . }}

{{ with .Content }}
<section>
{{ . }}
</section>
{{ end }}

<section class="list-page">

<!-- preambles -->

<ul>
{{ range .Pages.ByTitle }}
{{ if .IsPage }}
<li><a href="{{ .RelPermalink }}">{{ .Title }}{{- if .Draft -}} :: Draft {{- end -}}</a></li>
{{ end }}
{{ end }}
</ul>

<!-- sub categories -->

<ul>
{{ range .Pages.ByTitle }}
{{ if .IsSection }}
<li><a href="{{ .RelPermalink }}">{{ .Title }}{{- if .Draft -}} :: Draft {{- end -}}</a></li>
{{ end }}
{{ end }}
</ul>
</section>

{{ partial "footer.html" . }}
{{ partial "nav.html" . }}

</article>
</div>

{{ end }}
