header.brand {
    margin-top: 0.5em;
}

/* Main brand title */
header.brand h1 {
    margin: 0 0 0.5em 0;
    font-weight: 400;
    font-size: 3em;
}

header.brand h2 {
    margin: 1rem 0;
}

header.brand hr {
    // border-color: rgb(152, 152, 146);
}
